# Database Configuration
DB_HOST="localhost"                                    # Database host
DB_PORT="5590"                                         # Database port
DB_USERNAME="user"                                     # Database username
DB_PASSWORD="password"                                 # Database password for PostgreSQL
DB_NAME="task-dev"                                     # Development database name
DB_TEST_NAME="task-test"                               # Test database name
DB_SSL="false"                                         # Enable SSL for production (true/false)